
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 1.5rem;
    font-family: sans-serif;
}
h2{
    font-size: 2rem;
}
body{
    background: url('../images/hand_bg.png'), #C4BEC8;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    text-shadow: 2px 1px #0F5295;
    color: #fff;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#1616314f;
}
section{
    position: relative;
    padding: 20px;
}
#sectionForm{
    background-color: rgba(255, 255, 255, 0.1);
}
#sectionForm::after{
   content: '';
   position: absolute;
   top: 12px;
   bottom: 12px;
   left: 12px;
   right: 12px;
   border-radius: 5px;
   pointer-events: none;
   background:linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 15%, transparent 50%, transparent 85%, rgba(255,255,255,0.3) 100%)
}
input[type=text],[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 2em / 5em;
    outline: none;
    cursor: pointer;
    transition: 0.5s all;
    background-color: transparent;
  }
  input[type=text],[type=submit]:hover {
    box-shadow:inset 0 0 2px 2px #888;
    background:linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 15%, transparent 50%, transparent 85%, rgba(255,255,255,0.3) 100%)
  }
  input:focus {
  background-color: #fff;
}
.textDeath{
    color: lightcoral;
}
.textRecovered{
    color: lightgreen;
}
.textConfirmed{
    color: gold;
}




  /* On screens that are 600px or less, */
@media screen and (max-width: 600px) {
    html{
        font-size: 1rem;
    }
  }
